@font-face {
    font-family: "Söhne";
    src: url("../font/Sohne-Buch.eot");
    src: url("../font/Sohne-Buch.eot?#iefix") format("embedded-opentype"), url("../font/Sohne-Buch.woff2") format("woff2"), url("../font/Sohne-Buch.woff") format("woff"), url("../font/Sohne-Buch.ttf") format("truetype"), url("../font/Sohne-Buch.svg#Sohne-Buch") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Söhne";
    src: url("../font/SohneBreit-Kraftig.eot");
    src: url("../font/SohneBreit-Kraftig.eot?#iefix") format("embedded-opentype"), url("../font/SohneBreit-Kraftig.woff2") format("woff2"), url("../font/SohneBreit-Kraftig.woff") format("woff"), url("../font/SohneBreit-Kraftig.ttf") format("truetype"), url("../font/SohneBreit-Kraftig.svg#SohneBreit-Kraftig") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Söhne";
    src: url("../font/SohneBreit-Dreiviertelfett.eot");
    src: url("../font/SohneBreit-Dreiviertelfett.eot?#iefix") format("embedded-opentype"), url("../font/SohneBreit-Dreiviertelfett.woff2") format("woff2"), url("../font/SohneBreit-Dreiviertelfett.woff") format("woff"), url("../font/SohneBreit-Dreiviertelfett.ttf") format("truetype"), url("../font/SohneBreit-Dreiviertelfett.svg#SohneBreit-Dreiviertelfett") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Söhne";
    src: url("../font/Sohne-Dreiviertelfett.eot");
    src: url("../font/Sohne-Dreiviertelfett.eot?#iefix") format("embedded-opentype"), url("../font/Sohne-Dreiviertelfett.woff2") format("woff2"), url("../font/Sohne-Dreiviertelfett.woff") format("woff"), url("../font/Sohne-Dreiviertelfett.ttf") format("truetype"), url("../font/Sohne-Dreiviertelfett.svg#Sohne-Dreiviertelfett") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Söhne";
    src: url("../font/SohneBreit-Halbfett.eot");
    src: url("../font/SohneBreit-Halbfett.eot?#iefix") format("embedded-opentype"), url("../font/SohneBreit-Halbfett.woff2") format("woff2"), url("../font/SohneBreit-Halbfett.woff") format("woff"), url("../font/SohneBreit-Halbfett.ttf") format("truetype"), url("../font/SohneBreit-Halbfett.svg#SohneBreit-Halbfett") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* colors */

$black: #000000;
$purpel: #6400e4;
$white: #ffffff;
$yallow: #ffd500;
$gray: #ababab;
$dark-grey: #585858;
$grey2: #e8dafa;
$lightgrey: #f7f2fd;
$lightgrey2:#E8DAFA;
$lightpurpel: #c20094;
$fushia:#7444BE;
$menugrey:#E8DAFA;
$back-color:#F9F9F9;
$shark:#1A1C21;
$facebook: #3B5998;
$input-grey:#F7F7F7;

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Söhne";


}
body{
    overflow-x: hidden;
    .container1{

        .fillheader{
            transition: 0.5s ease-in-out;
            background-color: $fushia;
        }  
    
        .header{
            display: flex;
            position: fixed;
            height: 8vh;
            width: 100%;
            z-index: 99999;
            .logo{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 2%;
                img{
                    height: 50%;
                }
            }
            .menu{
                width:100%;
                display: flex;
                justify-content: flex-end;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style-type: none;
                    height: 100%;
                    width: 80%;
                    margin-right: 3%;
                    li{
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 0.9vw;
                            padding: 5px 10px 5px 10px;
                            border-radius: 15px;
                            &:hover{
                                background-color: rgba($color: $white, $alpha: 0.2);
                                transition: 0.3s ease-in-out;
                            }
     
                        }
                        .active{
                            background-color: rgba($color: $white, $alpha: 0.2);
    
                        }
                    }
                }
            }
        }
        .background{
            position: relative;
            width: 100%;
            display: flex;
            img{
                width: 100%;
                height: 100%;
            }
            .box{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    color:white;
                    font-weight: bold;
                    font-size: 0.8vw;
                    margin-bottom: 0;
                }
                h1{
                    font-size: 4.5vw;
                    font-weight: bold;
                    color: white;
                    span{
                        color: $yallow;
                        border-bottom: 0.5vw solid $yallow;
                    }
                }
                a{
                    margin-top: 3%;
                }
            }
        }
  
    }
    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .content{
            width: 55%;
            margin: 6% 0 6% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                font-size: 0.9vw;
                font-weight: bold;
                color:$gray;
            }
            h1{
                color: $purpel;
                font-size: 3.5vw;
                font-weight: bold;
            }
            .text{
                font-weight: normal;
                color: $dark-grey;
                margin: 2% 5% 0 5%;
                line-height: 2.2vw;
            }
            button{
                background-color: $yallow;
                border: none;
                border-radius: 5px;
                color: $purpel;
                font-size: 0.9vw;
                height: 3.5vw;
                width: 25%;
                margin-top: 3%;
            }
        }
    }
    .container3{

        img{
            width: 100%;
        }
    }
    .slider{ 
        margin:6% 0 6% 10%;
        .content{
            width: 55%;
            p{
                font-size: 0.9vw;
                font-weight: bold;
                color: $gray;
            }
            h1{
                color: $purpel;
                font-size: 3.5vw;
                font-weight: bold;
            }
            .text{
                color: $dark-grey;
                font-size: 0.9vw;
                font-weight: 500;
                line-height: 1.8vw;
                margin-top: 3%;
                margin-bottom: 8%;
            }
        }

        .swiper-container{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: none;    

            .swiper-wrapper{
                height: 100%;
                border: none;   
                border-radius: 5px;
             

                .swiper-slide{
                    height: 13vw;
                    width: 100%;
                    margin-right: 1%;
                    border: none;   
                    border-radius: 5px;
                    background-color: #6ECCA9;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-left: 2%;
                    padding-right: 2%;
                    p{
                        font-size: 0.9vw;
                        color: white;
                        font-weight: 500;
                        
                    }
                    .bottom{
                        display: flex;
                        .left{
                            display: flex;
                            img{
                                height: 50%;
                                margin-right: 3%;
                            }
                            width: 70%;
                        }
                        .right{
                            width: 30%;
                            p{
                                float: right;
                            }
                        }
                    }


                }
            }
        }
    }
    .container4{
        background-color: $lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0 5% 0;
        .fondations{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                font-size: 0.9vw;
                font-weight: bold;
                color: $gray;

            }
            h1{
                color: $purpel;
                font-size: 3.5vw;
                font-weight: bold;
            }
            .cards{
                width: 100%;
                margin-top: 5%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .card{
                    width: 75%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 1.2%;
                    border: none;
                    border-radius: 5px;
                    padding: 2.5% 0 2.5% 0;
                    box-shadow:
                    0 5px 15px rgba(0, 0, 0, 0.07)
                  ;
                                    
                    .left{
                        width: 15%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-size: 1vw;
                            font-weight: bold;
                            color: $purpel;
                            background-color: $lightgrey;
                            margin-bottom: 0;
                            padding: 0.3vw 0.7vw 0.3vw 0.7vw;
                            border-radius: 25px;
                            
                        }
                    }
                    .right{
                        width: 85%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        h2{
                            font-size: 1vw;
                            color: $dark-grey;
                            font-weight: bold;
                        }
                        p{
                            font-size: 0.8vw;
                            color: $dark-grey;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                    }
                }
            }
            .creators{
                margin-top: 10%;
                padding-bottom: 25%;
                p{
                    font-size: 0.9vw;
                    color: $gray;
                    font-weight: bold;
                }
                h1{
                    font-size: 3.5vw;
                    color: $purpel;
                    font-weight: bold;
                }
            }


        }

    }
    .fondateurs{
        display: flex;
        justify-content: space-between;
        align-items: center;
    padding: 0 15% 10% 15%;
        background-color: white;
        .fondateur{
            margin-top: -25%;
            width: 49%;
            padding: 5%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color:white;
            box-shadow:0 0px 20px rgba(0, 0, 0, 0.07);
            img{
                width: 45%;
            }


            h1{
                font-size: 1.7vw;
                color: $purpel;
                font-weight: bold;
                margin-top: 5%;
            }
            p{
                font-size: 0.9vw;
                font-weight: 500;
                color: $dark-grey;
                padding: 1% 5% 1% 5% ;
                line-height: 1.6svw;
            }
            button{
                border: none;
                background-color: $yallow;
                border-radius: 5px;
                height: 3.5vw;
                color: $purpel;
                font-size: 1vw;
                font-weight: 500;
                width: 48%;
            }
        }
    }
    footer {
        height: 100%;
        background-color: $purpel;
        position: relative;
        z-index: 9999;
        border-radius: 50% 50% 0 0 / 15% 15% 0 0 ;
    
        .lists {
            display: flex;
            padding: 5% 10% 5% 10%;
            .list {
                width: 100%;
         
      
                ul {
                    list-style: none;
                    li {
                        font-size: 1vw;
                        font-weight: 500;
                        line-height: 250%;
                        
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
        .bar {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 1% 2% 1% 2%;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            .left {
                width: 5%;
                float: left;
                img{
                    width: 50%;
                }
            }
            .right {
                width: 95%;
                float: right;
                p {
                    float: right;
                    color: white;
                    font-size: 0.8vw;
                    margin-bottom: 0;
                }
            }
        }
    }
}