@charset "UTF-8";
@font-face {
  font-family: "Söhne";
  src: url("/font/Sohne-Buch.eot");
  src: url("/font/Sohne-Buch.eot?#iefix") format("embedded-opentype"), url("/font/Sohne-Buch.woff2") format("woff2"), url("/font/Sohne-Buch.woff") format("woff"), url("/font/Sohne-Buch.ttf") format("truetype"), url("/font/Sohne-Buch.svg#Sohne-Buch") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/font/SohneBreit-Kraftig.eot");
  src: url("/font/SohneBreit-Kraftig.eot?#iefix") format("embedded-opentype"), url("/font/SohneBreit-Kraftig.woff2") format("woff2"), url("/font/SohneBreit-Kraftig.woff") format("woff"), url("/font/SohneBreit-Kraftig.ttf") format("truetype"), url("/font/SohneBreit-Kraftig.svg#SohneBreit-Kraftig") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/font/SohneBreit-Dreiviertelfett.eot");
  src: url("/font/SohneBreit-Dreiviertelfett.eot?#iefix") format("embedded-opentype"), url("/font/SohneBreit-Dreiviertelfett.woff2") format("woff2"), url("/font/SohneBreit-Dreiviertelfett.woff") format("woff"), url("/font/SohneBreit-Dreiviertelfett.ttf") format("truetype"), url("/font/SohneBreit-Dreiviertelfett.svg#SohneBreit-Dreiviertelfett") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/font/Sohne-Dreiviertelfett.eot");
  src: url("/font/Sohne-Dreiviertelfett.eot?#iefix") format("embedded-opentype"), url("/font/Sohne-Dreiviertelfett.woff2") format("woff2"), url("/font/Sohne-Dreiviertelfett.woff") format("woff"), url("/font/Sohne-Dreiviertelfett.ttf") format("truetype"), url("/font/Sohne-Dreiviertelfett.svg#Sohne-Dreiviertelfett") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/font/SohneBreit-Halbfett.eot");
  src: url("/font/SohneBreit-Halbfett.eot?#iefix") format("embedded-opentype"), url("/font/SohneBreit-Halbfett.woff2") format("woff2"), url("/font/SohneBreit-Halbfett.woff") format("woff"), url("/font/SohneBreit-Halbfett.ttf") format("truetype"), url("/font/SohneBreit-Halbfett.svg#SohneBreit-Halbfett") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* colors */
* {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Söhne";
}

body .sidebar {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 999;
}

body .sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .sidebar .logo img {
  margin: 10%;
}

body .sidebar .menu {
  width: 100%;
}

body .sidebar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
  margin-top: 10%;
  width: 100%;
}

body .sidebar .menu ul li {
  width: 100%;
  padding-left: 10%;
  border-left: 0.3vw solid white;
}

body .sidebar .menu ul li a {
  text-decoration: none;
  width: 100%;
}

body .sidebar .menu ul li a h2 {
  font-size: 1vw;
  font-weight: bold;
  color: #ababab;
  line-height: 2vw;
}

body .sidebar .menu ul li a h2:hover {
  color: #6400e4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .sidebar .menu ul li:hover {
  border-left: 0.3vw solid #6400e4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .sidebar .menu ul .active {
  border-left: 0.3vw solid #6400e4;
}

body .sidebar .menu ul .active h2 {
  color: #6400e4;
}

body .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  float: right;
}

body .right .top {
  width: 85%;
  padding: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  border-left: 2px solid #f7f2fd;
  top: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  z-index: 999;
}

body .right .top .form {
  width: 75%;
}

body .right .top .form .input-group span {
  border: none;
  background-color: #f7f2fd;
}

body .right .top .form input {
  font-size: 0.8vw;
  font-weight: 500;
  background-color: #f7f2fd;
  border: none;
}

body .right .top .form input::-webkit-input-placeholder {
  color: #ababab;
}

body .right .top .form input:-ms-input-placeholder {
  color: #ababab;
}

body .right .top .form input::-ms-input-placeholder {
  color: #ababab;
}

body .right .top .form input::placeholder {
  color: #ababab;
}

body .right .top .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

body .right .top .notifications ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .right .top .notifications ul li a img {
  width: 100%;
}

body .right .top .notifications button {
  height: 90%;
  width: 45%;
  color: #6400e4;
  font-size: 0.7vw;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffd500;
}

body .right .top .profile {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .right .top .profile a {
  margin-right: 10%;
}

body .right .top .profile a img {
  width: 100%;
}

body .right .content {
  background-color: #f7f2fd;
  width: 100%;
}

body .right .content h2 {
  color: #6400e4;
  font-size: 1.7vw;
  font-weight: bold;
  margin: 2% 0 2% 2%;
}

body .right .content h3 {
  color: #1A1C21;
  font-size: 1vw;
  font-weight: normal;
  margin-bottom: 1%;
}

body .right .content .container1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10%;
}

body .right .content .container1 .left {
  width: 70%;
}

body .right .content .container1 .left .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1%;
}

body .right .content .container1 .left .messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 3% 0 3% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .right .content .container1 .left .messages .message .image {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .right .content .container1 .left .messages .message .image img {
  width: 65%;
}

body .right .content .container1 .left .messages .message .content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .right .content .container1 .left .messages .message .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .right .content .container1 .left .messages .message .content div h3 {
  font-size: 1vw;
  color: #1A1C21;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-right: 3%;
}

body .right .content .container1 .left .messages .message .content div h4 {
  font-size: 0.8vw;
  padding: 1% 2% 1% 2% !important;
  color: #6400e4;
  background-color: #f7f2fd;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-radius: 25px;
}

body .right .content .container1 .left .messages .message .content p {
  margin: 0;
  font-size: 0.8vw;
  font-weight: 500;
  color: #585858;
  margin-top: 1%;
}

body .right .content .container1 .left .messages .message .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 35%;
  margin-right: 2%;
}

body .right .content .container1 .left .messages .message .button button {
  width: 90%;
  height: 2.5vw;
  background-color: #ffd500;
  border: none;
  border-radius: 5px;
  color: #6400e4;
  font-size: 0.8vw;
  font-weight: 500;
}

body .right .content .container1 .left .messages .message .button p {
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  color: #ababab;
  font-weight: 500;
  margin-top: 3%;
}

body .right .content .container1 .left .courses .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
  background-color: white;
  border-radius: 5px;
}

body .right .content .container1 .left .courses .course .image {
  width: 20%;
}

body .right .content .container1 .left .courses .course .image img {
  width: 100%;
}

body .right .content .container1 .left .courses .course .content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2%;
}

body .right .content .container1 .left .courses .course .content h3 {
  font-size: 1vw;
  font-weight: bold;
  color: #1A1C21;
  margin-left: 0;
}

body .right .content .container1 .left .courses .course .content p {
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  font-weight: 500;
  color: #585858;
  margin-right: 2%;
  margin-bottom: 1%;
}

body .right .content .container1 .left .courses .course .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .right .content .container1 .left .courses .course .content div p {
  font-weight: bold;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 25px;
  background-color: #f7f2fd;
}

body .right .content .container1 .left .courses .course .content div p:nth-child(1) {
  color: #6400e4;
}

body .right .content .container1 .left .courses .course .content div p:nth-child(2) {
  color: #ffd500;
}

body .right .content .container1 .left .courses .course button {
  width: 25%;
  height: 3vw;
  border: none;
  border-radius: 5px;
  background-color: #f7f2fd;
  font-size: 0.8vw;
  font-weight: 500;
  color: #6400e4;
  margin-right: 3%;
}

body .right .content .container1 .right {
  width: 25%;
}

body .right .content .container1 .right .box {
  background-color: white;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 15% 0 15% 0;
}

body .right .content .container1 .right .box .image {
  width: 100%;
}

body .right .content .container1 .right .box .image img {
  width: 40%;
}

body .right .content .container1 .right .box h2 {
  font-size: 1.1vw;
  margin-bottom: 3%;
}

body .right .content .container1 .right .box p {
  font-size: 0.7vw;
  color: #ababab;
  width: 75%;
  margin-bottom: 3%;
}

body .right .content .container1 .right .box button {
  color: #6400e4;
  height: 2.5vw;
  width: 50%;
  background-color: #ffd500;
  font-size: 0.7vw;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=dashboard.css.map */